*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: verdana, sans-serif;
}

header {
    height: 85px;
    font-size: small;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
}

footer {
    background-color: black;
    padding: 50px 0;
}

h1 {
    text-align: left;
    font-size: 60px;
    line-height: 1.5;
}

h2 {
    font-size: 28px;
}

p {
    line-height: 1.5;
}

img {
    width: 100%;
}

.button {
    background-color: rgb(40,95,246);
    padding: 10px 15px;
    color: white;
    border: none;
    font-size: 12px;
}

.button-full {
    width: 100%;
}

#partner-button {
    padding: 10px 15px;
    border: 1px solid black;
    font-size: 13px;
    background-color: white;
}

hr {
    width: 20%;
    color: rgb(228,228,230);
}

/* COMMON  */

header ul {
    list-style: none;
}

ul.d-flex li {
    padding:0 15px;
}

ul.info li {
    padding:  10px 0px;
    line-height: 1.5;
}

ul.info {
    list-style: none;
    margin-left: 20px;
}

ul.highlights li {
    margin: 10px 0;
    line-height: 1.5;
}

ul.footer-list {
    list-style: none;
}

ul.footer-list li {
    color: white;
    padding: 10px 0;
    font-size: 12px;
}

ul.footer-list > li:first-child {
    font-size: 18px;
    font-weight: 600;
}

.bg-lightblue {
    background-color: rgb(185,207,229);
}

#jumbo p {
    line-height: 1.5;
}

header a {
    text-decoration: none;
    color:black
}

.arrow {
    font-size: 50px;
    position: relative;
    top: 10px;  
}

.container-full {
    width: 100%;
    margin:0 auto;
}

.container-bg {
    max-width: 80%;
    margin:0 auto;
}

.container-sm {
    max-width: 60%;
    margin:0 auto;

}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


.square {
    width: 50%;
    height: calc(100vw / 6);
    position: relative;
}

.d-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.col-20 {
    width: calc(100% / 5);
}

.col-25 {
    width: calc(100% / 4);
    height: calc(100% / 2);
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

.content {
    width: 100%;
}

.content-300 {
    width: 100%;
    height: 300px;
    background-color: brown;
}

.content-75 {
    width: 100%;
    height: 75px;
    background-color: blue;
}

.justify-sb {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-base {
    align-items: baseline
}

.align-items-center {
    align-items: center
}

.padding-30 {
    padding: 30px;
}

.padding-y-30 {
    padding: 30px 0;
}

.padding-top-50 {
    padding-top: 50px;
}


.padding-top-150 {
    padding-top: 150px;
}

.padding-top-20 {
    padding-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

h2 {
    padding: 20px 0;
}

.pay-type {
    margin-left: 5px;
    margin-right: 40px;
    font-size: 12px;
}

.top-column {
    text-align: center;
    font-size: 12px;
    padding: 10px;
}

.bottom-column {
    padding:20px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-15{
    font-size: 15px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-11{
    font-size: 11px;
}

.fa-solid {
    margin-right: 5px;
}

.price {
    font-weight: 600;
}

.pos-rel {
    position: relative;
    top: 60px;
}

.pos-abs {
    position: absolute;
}

.align-cen {
    align-items: center; 
    height: 100%; 
}

ul.highlights li::before {
    content: "\2713";
    margin-right: 5px;
    color: blue;
    font-weight: 600;
}

ul.highlights {
    list-style: none;
}

.border-column {
    border: 1px solid rgb(228,228,230);
}

.bottom-border {
    border-bottom: 1px solid rgb(228,228,230);
}

.period {
    color: rgb(140, 140, 141);
}

.square-content {
    width: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#square-designit {
    background-color: rgb(172, 210, 160);
    border: 10px solid rgb(214, 232, 207)
}

#square-asu {
    background-color: rgb(89,19,43);
}

#square-uf {
    background-color: rgb(64, 145, 201);
}

#square-topps {
    background-color: red;
}

#square-wbr {
    background-color: rgb(195,41,43);
}

#square-lonelyplanet {
    background-color: rgb(19,35,124);
}

#square-clearchannel {
    background-color: rgb(249,218,86);
}

#square-hearst {
    background-color: rgb(185,207,229)
}

.invert-color{
    filter: invert(100%);
}

.width-50 {
    width: 50%;
}

.bg-gray {
    background-color: rgb(245,245,245);
}

#dropbox-bus {
    color: rgb(89,19,43);
}

#language {
    color:rgb(153,153,151);
    font-size: 12px;
}

