*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: left;
    font-size: 90px;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    padding: 20px 0;
    font-size: 3em;

}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 2em;
}


p {
    line-height: 1.5;
}

img {
    width: 100%;
}

/* HEADER  */

header {
    height: 85px;
    font-size: 18px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
}

header a {
    text-decoration: none;
    color:black
}

.header-main-container {
    max-width: 100%;
    margin: 0 auto; 
    height: 100%;
}

/* JUMBO SECTION  */

.jumbo-main-container {
    max-width: 1920px;
    margin: 0 auto; 
}

.bg-lightblue {
    background-color: rgb(185,207,229);
}

#jumbo p {
    line-height: 1.5;
}

.arrow {
    font-size: 50px;
    position: relative;
    top: 10px;  
}

/* FOOTER  */

footer {
    background-color: black;
    padding: 50px 0;
}

ul.footer-list {
    list-style: none;
}

ul.footer-list li {
    color: white;
    padding: 10px 0;
    font-size: 17px;
    font-weight: 100;
}

ul.footer-list > li:first-child {
    font-size: 18px;
    font-weight: 600;
}

/* COMMON */
.justify-sb {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-base {
    align-items: baseline
}

.align-items-center {
    align-items: center
}

.padding-30 {
    padding: 30px;
}

.padding-y-30 {
    padding: 30px 0;
}

.padding-top-50 {
    padding-top: 50px;
}


.padding-top-150 {
    padding-top: 150px;
}

.padding-top-20 {
    padding-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom {
    margin-bottom: 90px;
}

.margin-y-30 {
    margin: 30px auto;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.d-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.button {
    background-color: rgb(40,95,246);
    padding: 10px 15px;
    color: white;
    border: none;
    font-weight: 100;
    font-size: 18px;
}

.button-full {
    width: 100%;
}

#partner-button {
    padding: 10px 15px;
    border: 1px solid black;
    font-size: 17px;
    background-color: white;
}

#partner-button:hover {
    background-color: rgb(0, 0, 0,0.8);
    border: 1px solid lightgray;
    color:#fff;
}

#free-trial-button:hover {
    background-color: rgb(0, 0, 0,0.8);
    border: 1px solid #fff;
    color:#fff;
}

#free-trial-button {
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 300;
    background-color: white;
    border: none;
}

.button:hover {
    background-color: rgba(11, 21, 72,0.9);;
}

hr {
    width: 20%; color: rgb(228,228,230);
}

.pay-type {
    margin-left: 5px;
    margin-right: 40px;
    font-size: 18px;
}

.price {
    font-weight: 600;
}

.pos-rel {
    position: relative;
    top: 60px;
}

.pos-abs {
    position: absolute;
}

.align-cen {
    align-items: center; 
    height: 100%; 
}

/* COMMON CONTAINER */

.container-full {
    width: 100%;
    margin:0 auto;
}

.main-container {
    max-width: 1920px;
    margin: 0 auto;
}

.container-bg {
    max-width: 80%;
    margin:0 auto;
}

.container-sm {
    max-width: 60%;
    margin:0 auto;
}

.spacer {
    width:100%;
    height: 100px;
}

/* LISTS  */

ul {
    list-style: none;
}

ul.d-flex li {
    padding:0 15px;
}

ul.info li {
    padding:  10px 5px;
    line-height: 1.5;
}

ul.info {
    list-style: none;
    margin-left: 20px;
}

ul.highlights {
    margin-left: 20px;
    list-style: none;
}

ul.highlights li {
    padding: 10px 5px;
    line-height: 1.5;
}

ul#menu ul {
    display: none;
    background-color: #fff;
    padding: 15px;
    position: absolute;
    z-index: 1;
    right: 100px;
    top:80px;
}

ul#menu li {

}

ul#menu li:nth-child(3):hover ul {
    display: block;
}

ul#menu ul li {
    margin: 20px 10px;
}

.fa-check {
    color:rgb(40,95,246);
    font-size: large;
}

.fa-solid {
    margin: 0 10px;
}

/* COLONNE */

.col-20 {
    width: calc(100% / 5);
}

.col-25 {
    width: calc(100% / 4);
    height: calc(100% / 2);
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

.content {
    width: 100%;
}

.top-column {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.bottom-column {
    padding:20px;
}

.border-column {
    border: 1px solid rgb(228,228,230);
}

.bottom-border {
    border-bottom: 1px solid rgb(228,228,230);
}

/* FONT-SIZE  */

.font-size-24{
    font-size: 24px;
    font-weight: 100    ;
}

.font-size-17{
    font-size: 17px;
}

.font-size-18{
    font-size: 18px;
}

.period {
    color: rgb(140, 140, 141);
}

/* SCACCHIERA LOGHI */

.square {
    width: 50%;
    height: calc(100vw / 6);
    position: relative;
}

.square-content {
    width: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#square-designit {
    background-color: rgb(172, 210, 160);
    border: 10px solid rgb(214, 232, 207)
}

#square-asu {
    background-color: rgb(89,19,43);
}

#square-uf {
    background-color: rgb(64, 145, 201);
}

#square-topps {
    background-color: red;
}

#square-wbr {
    background-color: rgb(195,41,43);
}

#square-lonelyplanet {
    background-color: rgb(19,35,124);
}

#square-clearchannel {
    background-color: rgb(249,218,86);
}

#square-hearst {
    background-color: rgb(185,207,229)
}

.invert-color{
    filter: invert(100%);
}

.width-50 {
    width: 50%;
}

.bg-gray {
    background-color: rgb(245,245,245);
}

#dropbox-bus {
    color: rgb(89,19,43);
}

#language {
    color:rgb(153,153,151);
    font-size: 15px;
}

